body {
  font-family : 'Montserrat', sans-serif;
  padding-top : 65px;
  margin      :0;
}

/* header */
  
header {
  height          : 57vh;
  background      :  #b2edef;
  background-size : cover;

}

/* navbar */

.nav-menu {
  background : #fff;
  padding    : 0;
  font-size  : 13px;
}

.line1, .line2, .line3 {
  width      : 23px;
  height     : 3px;
  margin     : 5px;
  transition : all .4s;
}

.change .line1 {
  transform : rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity : 0;
}

.change .line3 {
  transform : rotate(45deg) translate(-5px, -6px);
}

/* end of navbar */
  

/* wrapper */
.wrapper{
  background : #fff;
}
.btn-home{
  background-color : #fff;
  width            : 100%;
  color            : #000;
  font-weight      : bold;
  padding          : 15px 15px 27px;
  border           : 1px solid #000;
  border-radius    : 10px;
  box-shadow: none !important;
  
}
.btn-home:hover{
  background  : #000;
  color       :#fff;
  font-weight : bold;

}

/* End of wrapper */



/* searchbox start */

.searchbox{
  position : absolute;
  top      : 40%;
  width    : 100%;
}

.input-box{
    width    : 30%;
    position : relative;
  }

.input-box input[type="text"]{
  width         : 100%;
  padding       : .8rem;
  padding-right : 60px;
  box-sizing    : border-box;
  background    : rgba(0,0,0,0.3);
  border        : 2px solid #fff;
  border-radius : 5px;
  font-size     : 18px;
  color         : #fff;
  outline       : none;
}

.search-icon{
  position  : absolute;
  top       : 70%;
  transform : translateY(-50%);
  right     : 5px;
  color     : #fff;
  font-size : 25px;
  box-shadow: none !important;
}

::-webkit-input-placeholder {
  color : #fff;
}
::-moz-placeholder {
  color : #fff;
}
:-ms-input-placeholder {
  color : #fff;
}

/* searchbox end */
/* end of header */


/* table start */
.separator {
  display       : flex;
  align-items   : center;
  text-align    : center;
  font-weight   : bold;
  font-size     : 1.3rem;
  margin-bottom : 20px;
}
.separator::before, .separator::after {
  content       : '';
  flex          : 1;
  border-bottom : 1px solid #000;
}
.separator::before {
  margin-right : .25em;
}
.separator::after {
  margin-left : .25em;
}
.td-name{
  vertical-align : middle !important;
  width          : 15%;
  font-weight    : bold;
  text-transform : uppercase;

}
/* table end */

.content-hide{
  display : none !important;
}
.current{
  background  : #000;
  color       :#fff;
  font-weight : bold;
}

@media screen and (max-width: 992px) {

  header {
    height          : 65vh;
  }
  .wrapper{
    padding-bottom: 3rem;
  }
  .btn-home{
    color         : #000;
    font-weight   : bold;
    font-size     : .8rem;
    padding       : 13px 15px 18px;
    border-radius : 10px;
  }
  .searchbox{
    position   : absolute;
    top        : 48%;
    width      : 100%;
    background : #b2edef;
  }
  .current{
    background  : #000;
    color       :#fff;
    font-weight : bold;
  }
}


@media screen and (max-width: 768px) {
  .donate{
    font-size: .8rem;
  }
  header {
    height: 60vh;
  }

  .table-row{
    font-size : .7rem;
  }
  .td-name{
    font-size   : .7rem;
    font-weight : bold;
  }

  .searchbox{
    position   : absolute;
    top        : 45%;
    width      : 100%;
    background : #b2edef;
  }
  .btn-home{
    border-radius : 8px;
  }
  .current{
    background  : #000;
    color       :#fff;
    font-weight : bold;
  }
}



@media screen and (max-width: 576px) {

  header {
    height          : 65vh;
    background      :  #b2edef;
    background-size : cover;
  }
  .wrapper{
    padding-bottom: 5px;
  }
  .donate{
    font-size: .7rem;
  }
  .searchbox{
    position   : absolute;
    top        : 40%;
    width      : 100%;
    background : #b2edef;
  }

  .input-box{
    width : 85%;
  }
  .input-box input[type="text"]{
    padding : .4rem;

  }

  label{
    font-size     : .7rem;
    padding       : 0px;
    margin-bottom : 3px;
  }
  .btn-home{
    color         : #000;
    font-weight   : bold;
    padding       : 8px;
    border-radius : 5px;
  }
  
  .table-row{
    font-size : .7rem;
  }
  .td-name{
    font-size   : .8rem;
    font-weight : bold;
  }

  .table th{
    font-size : .8rem;
  }
  .separator {
    margin-bottom : 10px;
  }
  .current{
    background  : #000;
    color       :#fff;
    font-weight : bold;
  }
  

}


/* style button */
.draw-border {
  box-shadow         : inset 0 0 0 4px #58afd1;
  color              : #58afd1;
  -webkit-transition : color 0.25s 0.0833333333s;
  transition         : color 0.25s 0.0833333333s;
  position           : relative;
}
.draw-border::before, .draw-border::after {
  border         : 0 solid transparent;
  box-sizing     : border-box;
  content        : '';
  pointer-events : none;
  position       : absolute;
  width          : 0;
  height         : 0;
  bottom         : 0;
  right          : 0;
}
.draw-border::before {
  border-bottom-width : 4px;
  border-left-width   : 4px;
}
.draw-border::after {
  border-top-width   : 4px;
  border-right-width : 4px;
}
.draw-border:hover {
  /* color: #ffe593; */
  color : #000;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color       : #ffe593;
  -webkit-transition : border-color 0s, width 0.25s, height 0.25s;
  transition         : border-color 0s, width 0.25s, height 0.25s;
  width              : 100%;
  height             : 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay : 0s, 0s, 0.25s;
          transition-delay : 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
  -webkit-transition-delay : 0s, 0.25s, 0s;
          transition-delay : 0s, 0.25s, 0s;
}

.btn-style {
  background     : #b2edef;
  color          : #000;
  border         : none;
  cursor         : pointer;
  line-height    : 1.5;
  font           : 700 1.2rem 'Roboto Slab', sans-serif;
  padding        : .7em 1.5em;
  letter-spacing : 0.05rem;
}
.btn-style:focus {
  outline : 2px dotted #55d7dc;
}
/* button style end */
